{% extends "koopmuhasebe/main-body-form.html" %}

{% block form-action %}{{action}}{% endblock %}
{% block form-details %}

{% load myfilters %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.name }}{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{field.name }}{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class="form-group">
	<label>Ürün Kategorisi</label>
	{{form.urun_kategorisi |addclass:'form-control'}}                                                    
</div>
<div class="form-group">
	<label>Ürün Adı</label>
	{{form.urun_adi|addclass:'form-control' }}
</div>
<div class="form-group">
	<label>Üretici</label>
	{{form.uretici |addclass:'form-control'}}                                                    
</div>
<div class="form-group">
	<label>Birim</label>
	{{form.birim|addclass:'form-control' }}
</div>
<div class="form-group">
	<label>Adet Fiyatı</label>
	{{form.musteri_fiyati|addclass:'form-control' }}
</div>
<div class="form-group">
	<label>KDV Kategorisi </label>
	{{form.kdv_kategorisi|addclass:'form-control' }}
</div>
<div class="form-group">
	<label>Dayanışma Ürünü</label>
	{{form.dayanisma_urunu|addclass:'form-control' }}
</div>
{% endblock %}