   <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;margin-top:0px">
            <div class="navbar-header" style="padding-top: 0px">
                    <a class="navbar-brand" href="https://www.google.com.tr/search?q=pirot+kasabasi+kooperatif+merkez+birligi" style="font-family: 'Courier New';font-weight: 700;font-size: 24pt;padding-top: 0px; color:#337ab7" > <i class="fa fa-cog" aria-hidden="true"></i> pirot</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand">Kadıköy Koop</a>-->
				<!--<img src="/static/koopmuhasebe/koop_logo_100.png">-->
            </div>
            <!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
           
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {% block loginInfo %} {% endblock %} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                      
                        <li><a href="/koopmuhasebe/logout/?next=/koopmuhasebe/login/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
         
                <!-- /.dropdown -->
            
            <!-- /.navbar-top-links -->

            {% include "koopmuhasebe/include-navbar-left.html" %}
            
        </nav>
