<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       <li><a href='/koopmuhasebe/satis_liste'><i class='fa fa-money fa-fw'></i> Satışlar</a></li>               
					   <li><a href='/koopmuhasebe/gider_liste'><i class='fa fa-envelope fa-fw'></i> Giderler</a></li>
					   <li><a href='/koopmuhasebe/virman_liste'><i class='fa fa-exchange fa-fw'></i> Virman ve Düzeltme</a></li>
					   <li><a href='/koopmuhasebe/stok_girisi_liste'><i class='fa fa-sign-in fa-fw'></i> Stok Girişleri</a></li>
					   
					   <li><a href='/koopmuhasebe/liste_uretici'><i class='fa fa-users fa-fw'></i> Üreticiler</a></li>               					   
					   <li><a href='/koopmuhasebe/urun_liste'><i class='fa fa-tree fa-fw'></i> Ürünler</a></li>
					   <li>
							<a href='#'><i class='fa fa-file-text-o fa-fw'></i> Raporlar</a>
							 <ul class="nav nav-second-level">
                                <li>
                                    <a href="/koopmuhasebe/rapor_stok">Stok Durumu</a>
                                </li>
                                
                                
                            </ul>
					   
					   </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>