    <!-- jQuery -->
    <script src="/static/koopmuhasebe/vendor/jquery/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/koopmuhasebe/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/koopmuhasebe/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/koopmuhasebe/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/koopmuhasebe/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/koopmuhasebe/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!--<script src="/static/koopmuhasebe/menu.js" charset="utf-8"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/static/koopmuhasebe/dist/js/sb-admin-2.js"></script>

    